body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2f1f1;
  color: rgba(31, 31, 31, 0.962);
}

/*Navbar*/
.myNav {
  background-color: #e8dcae;
  margin-bottom: 2%;
}

/*homepage*/
.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.homeCard {
  background-color: #fffce6;
  width: 100%;
  margin-top: 5%;
}

/*login&signup*/
.login-form {
  width: 100%;
  padding: 15px;
  margin: auto;
  height: 100%;
}

/*categories*/
.categoriesMain {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgSize {
  max-width: 200px;
  margin: 5%;
}

/*Buttons*/
.myButtons {
  font-weight: bold;
  border-style: hidden;
  background-color: #a1a6b3;
}

/*profile*/
.myCard {
  max-height: 100vh;
  max-width: 400px;
  height: auto;
  background-color: #fffce6;
}

.imgProfile {
  max-height: 420px;
}
.profileMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* categories Lists */

.listImg {
  max-width: 400px;
  max-height: 400px;
}

.listCards {
  background-color: #ffecbf;
  max-width: 400px;
}
.listsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.EditProjectPage {
  max-width: 400px;
}

/*establishment details*/
.estbDetailsMAin {
  max-width: 350px;
}
