body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ebe08b;
}

/*Navbar*/
.myNav {
  background-color: #e0c916;
  margin-bottom: 2%;
}

/*homepage*/
.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.homeCard {
  margin-top: 5%;
}

/*login&signup*/
.login-form {
  width: 100%;
  padding: 15px;
  margin: auto;
  height: 100%;
}

/*categories*/
.categoriesMain {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgSize {
  max-width: 200px;
  margin: 5%;
}
/*cards*/
.myCard {
  background-color: #fffacd;
}

/*Buttons*/
.myButtons {
  background-color: #b0c4de;
}
