body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fdf3a9;
  color: rgba(31, 31, 31, 0.962);
}

/*Navbar*/
.myNav {
  background-color: #e0c916;
  margin-bottom: 2%;
}

/*homepage*/
.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.homeCard {
  background-color: #fffacd;
  width: 100%;
  margin-top: 5%;
}

/*login&signup*/
.login-form {
  width: 100%;
  padding: 15px;
  margin: auto;
  height: 100%;
}

/*categories*/
.categoriesMain {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgSize {
  max-width: 200px;
  margin: 5%;
}

/*Buttons*/
.myButtons {
  border-style: hidden;
  background-color: #b0c4de;
}

/*profile*/
.myCard {
  max-height: 100vh;
  max-width: 400px;
  height: auto;
  background-color: #fffacd;
}

.imgProfile {
  max-height: 420px;
}
.profileMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* categories Lists */

.listCards {
  background-color: #fffacd;
  max-width: 0px;
}
.listsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
